{% extends 'base.html.twig' %}

{% block aboutLinkStyle %} current_page {% endblock %}

{% block title %} About Us {% endblock %}

{% block main %}
<h1>
    About us
</h1>

<p>
    We are Coffee Shop Review.ie , we run an online review of coffee shops around Ireland.
</p>
<p>
    We are based in the Blanchardstown, Dublin.
</p>
<p>
    We were established in 2020.
</p>
<p>
    We created this site with both coffee shop owners and coffee shop goers in mind!
</p>

{% endblock %}