{% extends 'base.html.twig' %}

{% block contactLinkStyle %} current_page {% endblock %}


{% block title %} Contact Us {% endblock %}

{% block main %}
<h1>
    Contact us
</h1>

<h3>Address</h3>
<p>
    DMBooks
<p>
    Blanchardstown Shopping Centre,
    <br/>
    Blanchardstown Road South,
    <br/>
    Blanchardstown,
    <br/>
    Dublin 15
    <br/>

</p>

<h3>Telephone</h3>
<p>
    01 - 3188 - 8123
</p>

<h3>Email</h3>
<p>
    <a href="darraghmoore321@gmail.com">darraghmoore321@gmail.com</a>
</p>

{% endblock %}