{% extends 'base.html.twig' %}

{% block homeLinkStyle %} current_page {% endblock %}

{% block title %} Home Page {% endblock %}

{% block main %}
<h1>
Welcome to CSR Limited Home Page
</h1>

<p>
This site offers you the chance to VOTE on your favourite Coffee shops around Ireland.
</p>
    <p>
        For all you coffee shop owners , dont worry if you are not listed here yet. You can add your coffee shop to the site!
    </p>

{% endblock %}